<ion-tabs class="tabs-icon-top slide-left-right">

  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="找车" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/searchCar">
    <ion-nav-view name="searchCar-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="发现" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tab/find">
    <ion-nav-view name="find-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/user">
    <ion-nav-view name="user-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
